{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Image:</h1>
    {% for images in form %}
        {% if images.evidence_img %}
        <a href="{{ images.evidence_img.url }}">evidence_image#</a><br>
        {% else %}
            <p></p>
        {% endif %}
    
    {% endfor %}
    <h1>Files:</h1>
    {% for images in form %}
    {% if images.evidence_audio %}
    <a href="{{ images.evidence_audio.url }}">evidence_image#</a><br>
    {% else %}
        <p></p>
    {% endif %}

{% endfor %}

<h1>Files:</h1>
{% for images in form %}
{% if images.evidence_video %}
<a href="{{ images.evidence_video.url }}">evidence_image#</a><br>
{% else %}
    <p></p>
{% endif %}

{% endfor %}

<h1>Files:</h1>
{% for images in form %}
{% if images.evidence_doc %}
<a href="{{ images.evidemce_doc.url }}">evidence_image#</a><br>
{% else %}
    <p></p>
{% endif %}

{% endfor %}
</body>
</html>