{% extends 'index.html' %} {% load static %} {% block title %}
<title>Contact | Crime Management</title>
{% endblock %} {% block content %}
<div class="d-flex justify-content-md-around mt-5">
  <div class="d-none d-lg-block">
    <img
      src="{% static 'image/0111.svg' %}"
      alt=""
      class="img-fluid"
      width="700px"
    />
  </div>
  <div class="m-3">
    <div class="form-control shadow border-0 p-3">
      <h2 class="my-3">Feedback</h2>
      <form action="" method="POST">
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-primary" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>

{% endblock%} {% block footer %} {% endblock %}
