{% extends 'staffdashboard.html' %} {% load static %}{% block dash %} 
{% block page %}Search{% endblock %}
<div class="container mt-5 shadow p-4 bg-white">
  <div class="img-fluid pt-4">
    <img
      class="mx-auto d-block mt-5"
      src="{% static 'image/012.gif' %}"
      alt=""
    />
    <h1 class="text-center mt-3">Profile Created Succesfully.....!!</h1>

    <div class="d-flex text-center justify-content-sm-evenly  mt-5">
      <a href="{% url 'evi' no%}" class="btn btn-primary me-1">Add Evidence</a>
      <a href="{% url 'staffsearch' %}" class="btn btn-primary">Skip(No Evidence)</a>
    </div>
  </div>
</div>
{% endblock %}
