{% extends 'index.html' %} {% load static %}{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css'%}" />
<section class="bg-primary">
  <div class="container">
    <h1 class="text-dark text-center pt-5">Create a Profile</h1>
    <div class="text-center p-5 text-light">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
        repudiandae facere modi consequuntur! Qui perferendis maiores officiis
        suscipit blanditiis, sunt iusto quam eveniet minima inventore dolorem
        praesentium ea in cupiditate ipsum magni consequuntur. Est accusantium
        in, esse laudantium placeat quas aspernatur vel optio beatae debitis
        vitae totam adipisci, laborum a.
      </p>
      <p class="lead py-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
        laboriosam quos, eum magni reprehenderit architecto mollitia? Quisquam
        laborum voluptatum illo fuga culpa nemo nulla vel praesentium, minus
        ratione a ipsa repellendus soluta ducimus quasi consectetur quas numquam
        deleniti, in tempora optio ipsum perspiciatis impedit! Et quasi quam
        saepe ipsam qui tenetur possimus eius aspernatur cum earum, tempora hic,
        vero repellat sint iure facere illo ipsa. Sed unde suscipit reiciendis.
        Esse!
      </p>
      <button class="btn btn-light">
        <a href="" class="text-decoration-none text-dark">Create</a>
      </button>
    </div>
  </div>
</section>

<section class="form-group p-2 p-sm-5 pt-5">
  <div class="form-control">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
</section>

{% endblock %}
