{% extends 'index.html'%} {% load static %}

<title>Password Reset | Crime Management</title>

{% block content %}

<section class="p-sm-5 text-center">
  <div class="row p-3 mt-5">
    <div class="col-md"></div>

    <div class="col-md">
      <div class="card shadow">
        <h5 class="card-header">Reset Password</h5>
        <div class="card-body">
          <h5 class="card-title">Enter E-Mail Registered with US</h5>
          <p class="card-text">
            An E-Mail With Instructions to Reset Your Password Will Be Sent To
            Your E-Mail
          </p>
          <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <input type="submit" class="btn btn-primary" />
          </form>
        </div>
      </div>
    </div>

    <div class="container col-md"></div>
  </div>
</section>

{% endblock %} {% block footer%} {%endblock%}
