{% extends 'staffdashboard.html' %} {% block dash %} {% block page %}Add
Profile{% endblock %}
<section class="form-group p-2 p-sm-5 pt-5">
  <div class="form-control">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
  </div>
</section>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
