{% extends 'index.html' %} {% load static %}{% block title %}
<title>Terms & Conditions | Crime Management</title>

{% endblock %} {% block content %}
<div class="container">
  <img class="p-5 img-fluid" src="{% static 'image/0125.svg' %}" alt="" />
  <h1 style="color: turquoise" class="py-3">Terms and Conditions:</h1>
  <h1 style="font-family: 'Dancing Script', cursive" class="py-5">
    There is no Terms and Conditions to use this Web Application Fell Free To
    use it and to test it
  </h1>
  <h5 class="pb-5">Team Crime Management System</h5>
</div>

{% endblock %}
