{% extends 'staffdashboard.html' %} {% load static %} {% block dash %}{% block page %}Contacted{% endblock %}
<div class="container mt-5 shadow p-4 bg-white">
    <div class="title">
        <h3>Name:</h3>
        <h3  style="color: rgb(81, 81, 255);">{{form.name}}</h3>

        <br><br>
        <h3 >E-Mail:</h3>
        <h3  style="color: rgb(81, 81, 255);">{{form.email}}</a></h3>
        <br><br>
        <h3>Message:</h3>
        <h3  style="color: rgb(81, 81, 255);">{{form.message}}</h3>
        <br><br>
        <h3>Submitted On:</h3>
        <h3  style="color: rgb(81, 81, 255);">{{form.submit}}</h3>
        <br><br>
        <a href="{% url 'reply' form.id %}"><button class="btn btn-primary">Reply</button></a>
    </div>
</div>
{% endblock %}
